
@model WebApp.Domain.Anuncio





<div class="well" style="background-color:black">
    <table>
        <tr>
            <td rowspan="3">
                @if (Model.Imagem != null)
                {
                    <div class="pull-left" style="margin-right:10px">
                        <img class="img-thumbnail" src="@Url.Action("ExibirImagem", "arquivo", new { id = Model.Id })" width="150" height="150" />
                    </div>
                }
                else
                {
                    <div class="pull-left" style="margin-right:10px">

                        <img class="img-thumbnail" width="150" height="150" src="~/Imagens/sem-imagem-avatar.png" />
                    </div>

                }


            </td>
            <td>
                <h2 style="color:#428bca;">Titulo:</h2> 
                <input id="btnProximaDefinicao"
                       type="button"
                       value="@Model.Titulo"
                       class="btn btn-default btn-lg"
                       onclick="detalhar(@Model.Id);" />
            </td>
            <td>
                @if (@Model.total > 0)
                {
                    <button style="color:#428bca" class=" btn btn-danger"> Bombando</button>
                }
                else
                {
                    <button style="color:#428bca" class=" btn btn-primary"> :((</button>
                }


            </td>
           
        </tr>
        <tr>
            <td>
                <p style="color:#428bca;">Descrição:  @Model.Descricao </p>
                    
                    <br />
                <p style="color:#428bca;">Valor:  @Model.Valor </p>
                    <br />
                <p style="color:#428bca;">Usuario Que Realizou:  @Model.Usuario.Nome</p> 
                <br />
                
            </td>
        </tr>
        <tr>
            <td>
                <div class="btn-group">
                   
                  
                </div>
            </td>
        </tr>
    </table>



</div>