<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bombando</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
   

</head>
<body style="background-color:transparent">
      @if (TempData["mensagem"] != null)
        {
            <div class="alert alert-success">@TempData["mensagem"]</div>
        }   
    <nav class="navbar navbar-fixed-top" style="background-color:black">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Anunciar", "Postagem")" style="color:white">Bombando</a>
            </div>
            <ul class="nav navbar-nav">
                
                <li><a href="@Url.Action("Create", "Postagem")" style="color:white">Nova Promoção</a></li>
                
                
            </ul>
            <ul class="nav navbar-nav navbar-right">



                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="#" style="color:white">@WebSecurity.CurrentUserName</a></li>
                    <li><a href="@Url.Action("Logout", "Login")" style="color:white"><span class="glyphicon glyphicon-log-out"></span> Sair </a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Index", "Login")" style="color:white"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="@Url.Action("Form", "Usuario")" style="color:white"><span class="glyphicon glyphicon-user"></span> Registro</a></li>

                }
            </ul>
        </div>
    </nav>
    <br />
    <div class="container" >
        <div class="col-xs-8">
          
            @RenderBody()

        </div>
    </div>
    
    <div class="navbar navbar-fixed-bottom" style="background-color:black">
        <div class="container-fluid">

        </div>
    </div>
    
</body>
</html>